.page-footer {
  padding: 60px 0 60px 0px;

  background-color: var(--accent-bcg);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1600px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.foterdiv {
  @media screen and (min-width: 768px,) {
    display: flex;
  }
}
.adresdiv {
  @media screen and (max-width: 1599px) {
    text-align: center;
  }
  @media screen and (min-width: 1600px) {
    margin-right: 70px;
    margin-left: 215px;
  }
}
.logo--white {
  color: var(--white-color);
}
.logo--nocry {
  @media screen and (min-width: 1600px) {
    margin-left: 0;
  }
}

.footer-address {
  margin-top: 20px;

  font-style: inherit;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.street {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-link-bottom {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join-us-section {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 165px;
  }
  @media screen and (min-width: 1600px) {
    margin-left: 0;
    margin-right: 93px;
  }
}

.join-us-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1600px) {
    text-align: left;
  }
}

.footer-socials {
  display: flex;
  margin-top: 20px;
}

.footer-socials li + li {
  margin-left: 10px;
}

.footer-box-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-icon-socials {
  width: 20px;
  height: 20px;

  fill: #ffffff;
}

.footer-form {
  margin-top: 60px;
  @media screen and (min-width: 1600px) {
    margin-top: 0;
  }
}

.footer-label {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.footer-form-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 1600px) {
    text-align: left;
  }
}

.footer-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1600px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-input {
  min-width: 450px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-bcg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  @media screen and (min-width: 768px) {
    min-width: 358px;
  }

  @media screen and (min-width: 1600px) {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
