.index-hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--accent-bcg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bgc-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-hero-title {
  width: 700px;
  margin: 0 auto 40px auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--white-color);
}

.features-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--secondary-bcg);
}

.features-box .icon {
  width: 65px;
  height: 70px;
}

.features-list li + li {
  margin-left: 30px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-section {
  padding-bottom: 94px;

  background-color: var(--white-color);
}

.what-we-do-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list li + li {
  margin-left: 30px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.do-img {
  display: block;
  width: 100%;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  transform: translateY(70px);

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .thumb:hover & {
    transform: translateY(0);
  }
}

.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bcg);
}

.our-team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
  display: flex;
}

.our-team-list .box-team + .box-team {
  margin-left: 30px;
}

.box-team {
  width: calc((100% - 3 * 30px) / 4);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
}

.our-team-img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.our-team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.team-socials li + li {
  margin-left: 10px;
}

.box-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.icon-socials {
  width: 20px;
  height: 20px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .box-socials:hover &,
  .box-socials:focus & {
    fill: #ffffff;
  }
}

.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-bcg);
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-list li + li {
  margin-left: 30px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.icon-customer {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-link:hover &,
  .customers-link:focus & {
    fill: var(--accent-color);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  display: inline-flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-btn:hover &,
  .modal-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal-form {
  height: 100%;
  padding: 40px;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-box {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-area {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-area:focus {
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.license-label {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.license-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 7px;

  background: #ffffff;
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox:checked + .license-label::before {
  background-color: var(--accent-color);
  border: 2px solid transparent;
  background-image: url(../images/svg/check.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.license-link {
  color: var(--accent-color);
  text-decoration: underline;
}
